section.section-product
    div.section-product__description
        h1.section-product__title BANNER<br>DEL PRODUCTO
        p.section-product__text Descripción del producto, lorem ipsum dolor sit amet, consetetu sadipscing elitr, sed diam nonumy.
        +btn("a", "CALL TO ACTION", "btn--filled btn--shadow btn--long", "#section-contacts")
    div.section-product__present-product
        div.section-product__present-product-img-area
            p.section-product__present-product-first-text Loreni#[span psu]
            img.section-product__present-product-img(src=require("./blocks/section-product/img/present-product-img.png").default, draggable="false")
            p.section-product__present-product-second-text L#[span o]r#[span e]
    div.section-product__product
        div.section-product__product-out-img-area
            p.section-product__product-text 2#[span 3]1#[span 9]
            div.section-product__product-img-area
                img.section-product__product-img(src=require("./blocks/section-product/img/product-img.png").default, draggable="false")