section.section-slider
    +slider("section-slider-slider", "slider--right-nav")
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product1.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et.",
            "product-card--big-left"
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product2.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et."
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product3.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et."
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product1.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et.",
            "product-card--big-left"
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product2.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et."
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product3.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et."
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product1.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et.",
            "product-card--big-left"
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product2.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et."
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product3.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et."
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product1.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et.",
            "product-card--big-left"
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product2.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et."
        )
        +product-card(
            "Ref",
            "230",
            require("./blocks/product-card/img/product3.png"),
            "NOMBRE DEL PRODUCTO",
            "$99.999",
            "Descripcibn del producto, lorem Ipsum dolor sit amet, consetetur sadipscing elitr, sed dlam nonumy eirmod tempor invidunt ut labore et dolore magna ahquyam erat. sed diam voluptua. At vero eos et."
        )
        