section.section-video
    include ../video-player/_video-player
    div.section-video__description
        h2.section-video__title TÍTULO DEL CONTENIDO
        p.section-video__subtitle Subtítulo del contenido
        p.section-video__text Breve párrafo del contenido, lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam dolores.
        +btn("a", "CALL TO ACTION", "btn--filled btn--shadow btn--long", "#section-contacts")
