@font-face {
  font-family: "Muller";
  src: url("./fonts/Muller-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Muller";
  src: url("./fonts/Muller-ThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("./fonts/Muller-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Muller";
  src: url("./fonts/Muller-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: url("./fonts/Muller-Medium.ttf") format("truetype");
  font-weight: 500;
}
