section.section-testimonial
    div.section-testimonial__product
        div.section-testimonial__out-img-area
            div.section-testimonial__img-area
                p.section-testimonial__first-text Lor#[span eni]
                img.section-testimonial__img(src=require("./blocks/section-testimonial/img/testimonial-product-img.png").default, draggable="false")
                p.section-testimonial__second-text 2#[span 0]3
    div.section-testimonial__testimonial
        h2.section-testimonial__title COPY DEL #[span PRODUCTO]
        p.section-testimonial__text #[span “]Frase sobre el producto, lorem ipsum dolor sit amet.consetetur sadipscin elitr, sed diam nonumy.#[span ”]
        +btn("a", "Ver más info", "btn--underline", "#section-contacts")