include ./blocks/btn/mixins/_btn-mixin.pug
include ./blocks/form/mixins/_form-mixin.pug
include ./blocks/product-card/mixins/_product-card-mixin.pug
include ./blocks/slider/mixins/_slider-mixin.pug
include ./blocks/socials/mixins/_socials-mixin.pug
