$main-color: #151515;
$secondary-color: #06dd06;
$text-color: #ffffff;
$error-color: red;

$border: 2px solid $secondary-color;
$shadow: 0 0 10px $secondary-color;
$big-shadow: 0 0 20px $secondary-color;

$main-font: "Muller", sans-serif;
$title-font: "AlphaHeadline", sans-serif;

$screen-sm: 419px;
$screen-md: 853px;
$screen-xl: 1279px;
$screen-xxl: 1919px;
